# .gitignore

data/
legacy/
rbclass_kmtnet/
*.fits
*.log
*.cat
*.png
*.jpg
*.npy

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# astrometry neighbour-ahead runtime cache
config/ahead/lastgood/
